/* -----------------------------------------------------------------------------

# Header Styles

----------------------------------------------------------------------------- */
ul.navbar-nav li.nav-item {
    a.nav-link,
    &.active a.nav-link {
      color: #051922;
    }
  }
  
  .top-header-area {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 25px 0;
  
    &.white ul.navbar-nav li.nav-item {
      a.nav-link,
      &.active a.nav-link {
        color: #fff;
      }
    }
  }
  
  ul.navbar-nav li.nav-item {
    a.nav-link,
    &.active a.nav-link {
      color: #fff;
      font-weight: 700;
      margin-right: 14px;
    }
  }
  
  a.navbar-brand img {
    max-width: 150px;
  }
  
  nav.main-menu {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
  
      li {
        display: inline-block;
  
        a {
          color: #fff;
          font-weight: 700;
          display: block;
          padding: 15px;
        }
      }
  
      > li {
        position: relative;
      }
  
      ul.sub-menu {
        position: absolute;
        background-color: #fff;
        width: 220px;
        padding: 15px 15px;
        margin: 0;
        left: 0;
        top: 50px;
        border-radius: 3px;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 0 20px #555555;
  
        li {
          a {
            color: #555;
            font-weight: 600;
            padding: 7px 10px;
            font-size: 13px;
          }
  
          display: block;
          text-align: left;
        }
      }
  
      > li:hover ul {
        opacity: 1;
        visibility: visible;
      }
  
      li:last-child a {
        display: inline-block;
      }
    }
  }
  
  .site-logo {
    float: left;
    max-width: 30px;
  }
  
  ul.sub-menu li:last-child {
    float: none !important;
  }
  
  .main-menu-wrap {
    position: relative;
  }
  
  .site-logo {
    padding: 11px 0;
  }
  
  .top-header-area.sepherate-header {
    ul li > a,
    .header-icons a {
      color: #051922;
    }
  }
  
  nav.main-menu {
    ul {
      ul.sub-menu li {
        a {
          color: #555;
          padding: 8px;
          font-size: 13px;
          font-weight: 600;
        }
  
        display: block;
      }
  
      li.current-list-item > a {
        color: #f28123;
      }
    }
  
    li {
      &:hover > a {
        color: #f28123;
      }
  
      a {
        transition: 0.3s;
      }
    }
  }
  
  .top-header-area .header-icons a {
    &:hover {
      color: #f28123;
    }
  
    transition: 0.3s;
  }
  
  .sticky-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999 !important;
  
    &.is-sticky .top-header-area {
      background-color: #051922;
      padding: 15px 0;
    }
  }
  
  .top-header-area {
    transition: 0.3s;
  }
  
  ul.navbar-nav {
    margin: 0 auto;
  }
  