/* -----------------------------------------------------------------------------

# About Page Styles

----------------------------------------------------------------------------- */
.feature-bg {
  position: relative;
  margin: 150px 0;
  &:after {
    background-image: url(../img/feature-bg.jpg);
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    content: "";
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    box-shadow: 0 0 20px #cacaca;
    border-bottom-left-radius: 5px;
  }
}
